<div class="container" >
    <h2 class="text-center">Hospedajes</h2>
    <div class="form-group">
        <form class="form-horizontal" ng-submit="filtrarValoracion(valoracionFiltro)">
            <fieldset> 
                <label class="col-md-4 control-label" style="color: white;">Filtrar por valoracion</label>
                <div class="col-md-4 inputGroupContainer">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-star"></i></span>
                        <input type="number" style="height: 32px; width: 130px;" min="0" max="5" ng-model="valoracionFiltro" required>
                        <input type="submit" style="height: 30px;" value="Filtrar">
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
    <div class="form-group">
        <form class="form-horizontal" ng-submit="filtrartipo(tipoFiltro)">
            <fieldset> 
                <label class="col-md-4 control-label" style="color: white;">Filtrar por valoracion</label>
                <div class="col-md-4 inputGroupContainer">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-time"></i></span>
                        <select class="selectpicker" style="height: 30px; width: 130px;" data-live-search="true" ng-model="tipoFiltro" required>
                            <option>Hoteles</option>
                            <option>Apart-Hoteles</option>
                            <option>Hostales</option>
                            <option>Albergues</option>
                        </select>
                        <input type="submit" style="height: 30px;" value="Filtrar" >
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
    <br>
    <br>
    <div ng-show="filtroActivo">
        <div class="col-sm-12 col-md-12 col-lg-12 col-xs-12">
            <div class="thumbnail" >
                <table class="table table-striped">
                    <tbody ng-repeat=" h in listaFiltro" >
                        <tr>
                            <td rowspan="3"><img src="{{h.rutaImagen}}" class="img-responsive imagen-mostrario" ui-sref="hospedajeEspecifico({idHospedaje: h.id})"></td>
                            <td> TIPO ARRENDAMIENTO:  {{h.tipoArrendamiento}}</td>
                        </tr>
                        <tr>
                            <td>VALORACION: {{h.valoracion}}</td>                            
                        </tr>    
                        <tr>
                            <td>DESCRIPCION: {{h.descripcion}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div ng-show="!filtroActivo">
        <input type="button" value="Agregar un nuevo hospedaje" ui-sref="hospedajeCrear" class="btn btn-success btn-lg" ng-show="rolActivo === 'Arrendador' || rolActivo === 'Administrador'">
        <br>
        <br>
        <div class="row">
            <div ng-repeat=" h in hospedajeList" class="col-sm-6 col-md-6 col-lg-3 col-xs-3">
                <div class="thumbnail" >
                    <img src="{{h.rutaImagen}}" class="img-responsive imagen-mostrario" ui-sref="hospedajeEspecifico({idHospedaje: h.id})">
                    <p> 
                        TIPO ARRENDAMIENTO: {{h.tipoArrendamiento}} <br>
                        VALORACION: {{h.valoracion}} <br>
                        DESCRIPCION: {{h.descripcion}}
                    </p>
                    <input type="button" value="Detalles" ui-sref="hospedajeEspecifico({idHospedaje: h.id})" class="btn btn-info btn-block">
                </div>
            </div>
        </div>
    </div> 
</div>
