<div class="container center-block" >
    <form class="form-horizontal">
        <div class="form-group">
            <h2 class="text-center">Agregar infromacion de un hospedajesdfsdfdsfdsfsdf</h2>
        </div>
        <div class="form-group">
            <label for="txtTipoArrendamiento" class="col-sm-4 col-md-4 col-lg-4 col-xs-4 control-label">Tipo de arrendamiento</label>
            <select id="txtTipoArrendamiento" class=" col-sm-6 col-md-6 col-lg-6 col-xs-6 form-control-static selectpicker" ng-model="tipoArrendamiento">
                <option>Hoteles</option>
                <option>Apart-Hoteles</option>
                <option>Hostales</option>
                <option>Albergues</option>
            </select>
        </div>
        <div class="form-group">
            <label for="txtRutaImagen" class="col-sm-4 col-md-4 col-lg-4 col-xs-4 control-label">Imagen</label>
            <input id="txtRutaImagen" type="text" class="col-sm-6 col-md-6 col-lg-6 col-xs-6 form-control-static" placeholder="ingrese un link de internet" ng-model="rutaImagen" required>
        </div>
        <div class="form-group">
            <label for="txtDescripción" class="col-sm-4 col-md-4 col-lg-4 col-xs-4 control-label">Descripcion</label>
            <textarea id="txtDescripción" type="textarea" class="col-sm-6 col-md-6 col-lg-6 col-xs-6 form-control-static" placeholder="ejemplo: mi hospedaje es muy bonito" ng-model="descripcion" required></textarea>
        </div>
        <div class="form-group">
            <p class="col-sm-4 col-md-4 col-lg-4 col-xs-4"></p>
            <div class="col-sm-5 col-md-5 col-lg-5 col-xs-5">
                <input type="button" value="Cancelar" ui-sref="hospedaje" class="col-sm-5 col-md-5 col-lg-5 col-xs-5 btn btn-info btn-group-lg">
                <p class="col-sm-1 col-md-1 col-lg-1 col-xs-1"></p>
                <input type="submit" ng-click="c.registrar()" value="Crear"  class="col-sm-5 col-md-5 col-lg-5 col-xs-5 btn btn-success">
            </div>
        </div>
    </form>

</div>

<!--

-->
