<div class="container" >
    <br>
    <div>
        <input type="button" value="Anterior" ui-sref="hospedajeEspecifico({idHospedaje: hospedajeActivo.id-1})" class="btn btn-info btn-lg">
        <input type="button" value="Regresar" ui-sref="hospedaje" class="btn btn-info btn-lg">
        <input type="button" value="Siguiente" ui-sref="hospedajeEspecifico({idHospedaje: hospedajeActivo.id+1})" class="btn btn-info btn-lg">
    </div>

    <br>
    <br>
    <br>
    <br>
    <div class="row">
        <div class="center-block col-sm-6 col-md-6 col-lg-6 col-xs-6">
            <img class="imagen-detalle" src="{{hospedajeActivo.rutaImagen}}"  >
        </div>
        <div class="col-sm-6 col-md-6 col-lg-6 col-xs-6">
            <div class="row" ng-show="rolActivo === 'Arrendador' || rolActivo === 'Administrador'">
                <input type="button" value="Editar" class="btn btn-warning btn-lg col-sm-5 col-md-5 col-lg-5 col-xs-5" ui-sref="hospedajeActualizar({idHospedaje: hospedajeActivo.id})">
                <p class="col-sm-2 col-md-2 col-lg-2 col-xs-2"></p>
                <input type="button" value="ELiminar" ui-sref="hospedajeEliminar({idHospedaje: hospedajeActivo.id})" class="btn btn-danger btn-lg col-sm-5 col-md-5 col-lg-5 col-xs-5">
            </div>
            <br>
            <br>
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h4>Información general</h4>
                </div>
                <div class="panel-body">
                    TIPO ARRENDAMIENTO: {{hospedajeActivo.tipoArrendamiento}} <br>
                    VALORACION: {{hospedajeActivo.valoracion}} <br>
                    DESCRIPCION: {{hospedajeActivo.descripcion}} <br>
                </div>
            </div>
        </div>
    </div>
    <br>
    <br>
    <br>    
    <br>
    <div class="panel panel-info">
        <div class="panel-heading">
            <h4>Arrendador</h4>
        </div>
        <div class="panel-body">
            {{hospedajeActivo.arrendador.nombre}}
        </div>
    </div>
    <br>

    <br>
    <div class="panel panel-info">
        <div class="panel-heading">
            <h4>Servicios</h4>
            <br>
            <a class="btn btn-info" ui-sref="serviciosCreate({idHospedaje:hospedajeActivo.id})" ng-show="rolActivo === 'Arrendador' || rolActivo === 'Administrador'"><span class="glyphicon glyphicon-plus-sign"></span> Add new servicio</a>
        </div>
        <table class="table table-striped">
            <thead class="thead-light">
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Descripcion</th>
                    <th scope="col">Costo</th>
                    <th scope="col" class="col-lg-offset-12">Actions</th>
                </tr>
            </thead>
            <tbody ng-repeat="servicios in hospedajeActivo.servicios">
                <tr>
                    <td>{{servicios.id}}</td>
                    <td>{{servicios.descripcion}}</td>
                    <td>{{servicios.costo}}</td>
                    <td><a class="btn btn-default btn-sm" ui-sref="serviciosUpdate({idHospedaje:hospedajeActivo.id, idServicio:servicios.id})" ng-show="rolActivo === 'Arrendador' || rolActivo === 'Administrador'">
                            <span class="glyphicon glyphicon-edit"></span></a>
                        <a class="btn btn-danger btn-sm" ui-sref="serviciosDelete({idHospedaje:hospedajeActivo.id, idServicio:servicios.id})" ng-show="rolActivo === 'Arrendador' || rolActivo === 'Administrador'">
                            <span class="glyphicon glyphicon-trash"></span></a>
                    </td>
                </tr>    
            </tbody>
        </table>
    </div>
    <br>
    <div class="panel panel-info">
        <div class="panel-heading">
            <h4>Calificaciones</h4>
            <br>
            <a class="btn btn-info" ui-sref="calificacionesCreate({idHospedaje:hospedajeActivo.id})" ng-show="rolActivo === 'Estudiante' || rolActivo === 'Administrador'"><span class="glyphicon glyphicon-plus-sign"></span> Agregar nueva calificacion</a>
        </div>
        <table class="table table-striped">
            <thead class="thead-light">
                <tr>
                    <th scope="col">   </th>
                    <th scope="col">Id</th>
                    <th scope="col">Valoracion</th>
                    <th scope="col">Comentario</th>
                    <th scope="col" class="col-lg-offset-12">Acciones</th>
                </tr> 
            </thead>
            <tbody ng-repeat="calificaciones in hospedajeActivo.calificaciones">
                <tr>
                    <td rowspan="4"><img src="https://icon-icons.com/icons2/1154/PNG/512/1486564400-account_81513.png" width="50" height="50" class="img-responsive"></td>
                    <td>{{calificaciones.id}}</td>
                    <td>{{calificaciones.valoracion}}</td>
                    <td>{{calificaciones.comentario}}</td>
                    <td><a class="btn btn-danger btn-sm" ui-sref="calificacionesDelete({idHospedaje:hospedajeActivo.id, idCalificacion:calificaciones.id})" ng-show="rolActivo === 'Administrador' || rolActivo === 'Administrador'">
                            <span class="glyphicon glyphicon-trash"></span></a>
                    </td>
                </tr>    
            </tbody>
        </table>
    </div>
    <br>
    <div class="panel panel-info">
        <div class="panel-heading">
            <div class="row">
                <h4 class="col-sm-3 col-md-3 col-lg-3 col-xs-3">Reglas</h4>
                <p class="col-sm-7 col-md-7 col-lg-7 col-xs-7"></p>
                <div class="col-sm-1 col-md-1 col-lg-1 col-xs-1">
                    <p class="col-sm-1 col-md-1 col-lg-1 col-xs-1"></p>
                    <div class="col-sm-7 col-md-7 col-lg-7 col-xs-7 container">
                        <button type="button" class="btn color-transparente" ui-sref="crearRegla({idHospedaje: hospedajeActivo.id})" ng-show="rolActivo === 'Arrendador' || rolActivo === 'Administrador'"><span class="glyphicon glyphicon-plus"></span> Agregar</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel-body" ui-view="regaView">
            <table class="table table-condensed">
                <tbody ng-repeat=" r in hospedajeActivo.reglas" class="list-group">
                    <tr>
                        <td> {{r.regla}}</td>
                        <td>
                            <button class="btn btn-warning" ui-sref="modificarRegla({idHospedaje: hospedajeActivo.id,idRegla: r.id})" ng-show="rolActivo === 'Arrendador' || rolActivo === 'Administrador'">
                                <span class="glyphicon glyphicon-pencil" ></span>
                            </button>
                            <button class="btn btn-danger" ng-click="eliminarRegla(hospedajeActivo.id, r.id)" ng-show="rolActivo === 'Arrendador' || rolActivo === 'Administrador'">
                                <span class="glyphicon glyphicon-remove"></span>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>    
<br>
<br>