<div class="container-fluid">
    <div class="panel-group">
        <div class="panel panel-primary">
            <div class="panel-heading"><label ng-if="!edit" id="createArrendador">Crear nuevo arrendador</label>
                <label ng-if="edit" id="editArrendador">Editar Arrendador</label></div>
            <div class="panel-body">
                <form ng-submit="createArrendador()" name="arrendador">
                    <div class="form-group row">
                        <div class="form-group col-md-6">
                            <label for="arrendadorId" class="col-sm-2">Cedula:</label>
                            <input ng-if="edit" disabled="disabled" id="arrendadorId" required ng-model="arrendadorId" class="col-sm-6"/>
                            <input ng-if="!edit" id="arrendadorId" required ng-model="arrendadorId" class="col-sm-6"/>

                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="form-group col-md-6">
                            <label for="arrendadorName" class="col-sm-2">Nombre:</label>
                            <input id="arrendadorName" required ng-model="arrendadorName" class="col-sm-6"/>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="form-group col-md-6">
                            <label for="arrendadorRutaImagen" class="col-sm-2">Ruta imagen:</label>
                            <input id="arrendadorRutaImagen" required ng-model="arrendadorRutaImagen" class="col-sm-6"/>
                        </div>
                    </div>
                    
                    <div class="form-group row">
                        <div class="form-group col-sm-4" ng-if="!arrendador.$valid">

                            <div class="alert alert-warning" >
                                <strong>Advertencia!</strong><p>Todos los campos son necesarios*</p>
                            </div> 
                        </div> 
                    </div> 
                    <div class="form-group row">
                        <div class="form-group col-sm-12">
                            <input ng-show="arrendador.$valid" type="submit" value="Guardar" class="btn btn-success"/>
                            <a class="btn btn-info" ui-sref="arrendadoresList">Cancelar</a>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>


