<div class="container-fluid">
    <div class="panel-group">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <label id="createArrendador">Registrar Arrendador</label></div>
            <div class="panel-body">
                <form ng-submit="createArrendador()" name="arrendador">
                    <div class="form-group row">
                        <div class="form-group col-md-6">
                            <label for="arrendadorId" class="col-sm-2">Cedula:</label>
                            <input type="number" min="10000" class="col-sm-6" id="arrendadorId" required ng-model="arrendadorId" placeholder="e.g.100000"/>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="form-group col-md-6">
                            <label for="arrendadorName" class="col-sm-2">Nombre:</label>
                            <input type="text" id="arrendadorName" required ng-model="arrendadorName" class="col-sm-6" placeholder="e.g. Kelly Peñaranda"/>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="form-group col-md-6">
                            <label for="arrendadorRutaImagen" class="col-sm-2">Ruta imagen:</label>
                            <input id="arrendadorRutaImagen" ng-model="arrendadorRutaImagen" class="col-sm-6" placeholder="e.g. https://peopledotcom.files.wordpress.com/2016/09/kaia-gerber-660.jpg?w=660"/>
                        </div>
                    </div>
                    
                    
                    <div class="form-group row">
                        <div class="form-group col-md-6">
                            <label for="arrendadorNombreUsuario" class="col-sm-2">Nombre de usuario</label>
                            <input id="arrendadorNombreUsuario" required ng-model="arrendadorNombreUsuario" class="col-sm-6"/>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="form-group col-md-6">
                            <label for="nombreContrasenia" class="col-sm-2">Contrasenia</label>
                            <input id="nombreContrasenia" required ng-model="arrendadorContrasenia1" class="col-sm-6" type="password"/>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="form-group col-md-6">
                            <label for="nombreContrasenia" class="col-sm-2">Confirmar conraeña</label>
                            <input id="nombreContrasenia" required ng-model="arrendadorContrasenia2" class="col-sm-6" type="password"/>
                        </div>
                    </div>
                    
                    <div class="form-group row">
                        <div class="form-group col-sm-4" ng-if="!arrendador.$valid">

                            <div class="alert alert-warning" >
                                <strong>Advertencia!</strong><p>Todos los campos son necesarios*</p>
                            </div> 
                        </div> 
                    </div>
                    <div class="form-group row">
                        <div class="form-group col-sm-4" ng-show="validEstado === 1">

                            <div class="alert alert-warning" >
                                <strong>Warning!</strong><p>Las contraseñas no coinciden</p>
                            </div> 
                        </div> 
                    </div> 
                    <div class="form-group row">
                        <div class="form-group col-sm-4"ng-show="validEstado === 2">

                            <div class="alert alert-warning" >
                                <strong>Warning!</strong><p>El usuario ya existe</p>
                            </div> 
                        </div> 
                    </div> 
                    <div class="form-group row">
                        <div class="form-group col-sm-12">
                            <input ng-show="arrendador.$valid" type="submit" value="Guardar" class="btn btn-success"/>
                            <a class="btn btn-info" ui-sref="home">Cancelar</a>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>


