<div class="container-fluid">
    <div class="panel panel-primary">
        <div class="panel-heading text-center">
            <h3>Editar Universidad : {{universidadActual.id}}</h3>
        </div>
        <div class="panel panel-body">
            <form class="form-horizontal" name ="universidad">
              <div class="form-group">
                    <label for="nombre" class="col-sm-2 control-label">
                        Nombre:
                    </label>
                    <div class="col-md-10">
                        <input id="nombre" ng-model="name" ng-value="universidadActual.name" class="form-control" type="text"  required>
                    </div>
                </div>
                <div class="form-group">
                    <label for="direccion" class="col-sm-2 control-label" >
                        Dirección:{{universidadActual.direccion}}
                    </label>
                    <div class="col-md-10">
                        <input id="direccion" ng-model="direccion" ng-value ="universidadActual.direccion" class="form-control" type="text"  required>
                    </div>
                </div>
                <div class="form-group">
                    <label for="altitud" class="col-sm-2 control-label" >
                        Altitud:
                    </label>
                    <div class="col-md-10">
                        <input id="altitud" type="number" ng-model="altitud" ng-value ="universidadActual.altitud" class="form-control" type="text"  required>
                    </div>
                </div>
                <div class="form-group">
                    <label  for="latitud" class="col-sm-2 control-label" >
                        Latitud:
                    </label>
                    <div class="col-md-10">
                        <input id="latitud" ng-model="latitud"  ng-value="universidadActual.latitud" class="form-control" type="text"  required>
                    </div>
                </div>

                <div class="form-group">
                    <div class="form-group col-sm-12" ng-if="!universidad.$valid">

                        <div class="alert alert-warning " >
                            <strong>Warning!</strong><p>All inputs are required*</p>
                        </div> 
                    </div> 
                </div> 
                <div class="form-group">
                    <div class="form-group col-md-10">
                        <input ng-show="universidad.$valid" type="button" value="Guardar cambios" class="btn btn-success" ng-click="editUniversidad()">
                        <a class="btn btn-info" ui-sref="universidadesList">Cancelar</a>
                    </div>
                </div>
            </form>
        </div>

    </div>
</div>