<div class="container-fluid col-md-8 col-sm-12 col-lg-6">
    <div class="panel panel-primary ">
        <div class="panel-heading ">
            <h4>Crear nueva universidad</h4>
        </div>
        <div class=" panel panel-body ">
            <form class =" form-horizontal" ng-submit="createUniversidad()" name="universidad"> 

                <div class="form-group">
                    <label for="universidadNombre" class="col-sm-2 control-label">
                        Nombre:
                    </label>
                    <div class="col-md-10">
                        <input id="universidadNombre" ng-model="universidadNombre" class="form-control" type="text" placeholder="Universidad XYZ" required>
                    </div>
                </div>
                <div class="form-group">
                    <label for="universidadDireccion" class="col-sm-2 control-label" >
                        Dirección:
                    </label>
                    <div class="col-md-10">
                        <input id="universidadDireccion" ng-model="universidadDireccion" class="form-control" type="text" placeholder="Av. Ciudad de Cali No. 6C-09" required>
                    </div>
                </div>
                <div class="form-group">
                    <label for="universidadLongitud" class="col-sm-2 control-label" >
                        Longitud :
                    </label>
                    <div class="col-md-10">
                        <input id="universidadLongitud" ng-model="universidadLongitud" class="form-control" type="number" placeholder=" 40.75793" required>

                    </div>
                </div>
                <div class="form-group">
                    <label  for="universidadLatitud" class="col-sm-2 control-label" >
                        Latitud:
                    </label>
                    <div class="col-md-10">
                        <input id="universidadLatitud" ng-model="universidadLatitud" class="form-control" type="number" placeholder=" -73.98551" required>
                    </div>
                </div>

                <div class="form-group">
                    <div class="form-group col-sm-12" ng-if="!universidad.$valid">

                        <div class="alert alert-warning " >
                            <strong>Cuidado!</strong><p>Todos los campos son requeridos*</p>
                        </div> 
                    </div> 
                </div> 
                <div class="form-group">
                    <div class="form-group col-md-10">
                        <input ng-show="universidad.$valid" type="submit" value="Guardar"  class="btn btn-success"/>
                        <a class="btn btn-info" ui-sref="universidadesList">Cancelar</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>