<br>
<div class="container-fluid">
    <div class="panel-group">
        <div class="panel panel-primary">
            <div class="panel-heading"><label id="createAuthor">Agregar Estudiante</label>
              </div>
            <div class="panel-body" >
                <div class="col-md-8">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Nombre</th>    
                                <th>Cedula</th> 
                                <th>Actions</th>  
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="estudiante in estudiantes">
                            <td id="{{$index}}-Nombre">{{estudiante.nombre}}</td>
                                <td id="{{$index}}-Cedula">{{estudiante.cedula}}</td>
                                <td id="{{$index}}-actions">
                                    <button id="confirm-add" ng-click="agregarEstudiantes(estudiante.id)" class="btn btn-info">Agregar</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <br>
                <label ng-model="estudiantesInOrigin">El número de estudiantes en este origen es: {{estudiantesOrigin.length}}</label>
                </div>
                
            </div>
        </div>
    </div>
</div>


