<alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert()">{{alert.msg}} </alert>
<div class="container-fluid">
    <div class="panel-group">
        <div class="panel panel-primary">
            <div class="panel-heading"><label>Lista consolidada de reserva</label></div>
            <div class="panel-body">
               <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                   <div class="btn-group mr-2" role="group" aria-label="First group">
                        <a class="btn btn-info" ui-sref="reservasCreate"><span class="glyphicon glyphicon-plus-sign"></span> Crear reserva</a>
                    </div>
                </div>
                <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                    <div class="btn-group mr-2" role="group" aria-label="First group">
                       
                    </div>
                </div>
                <div class="col-md-8">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Identificación única</th>    
                                <th>Cédula del huésped</th> 
                                <th>Fecha de inicio</th> 
                                <th>Fecha de fin</th> 
                                <th>Hospedaje</th>
                                <th>Información </th>
                               
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="reserva in reservasRecords">
                            <td id="{{$index}}-id">{{reserva.id}}</td>
                            <td id="{{$index}}-cedulaHuesped">{{reserva.cedulaHuesped}}</td>
                            <td id="{{$index}}-fechaInicio">{{reserva.fechaInicio}}</td>
                            <td id="{{$index}}-fechaFin">{{reserva.fechaFin}}</td>
                            <td id="{{$index}}-hospedaje">{{reserva.idHospedaje}}</td>
                            <td id="{{$index}}-actions">
                                <a class="btn btn-default btn-sm" ui-sref="reservasDetail({reservaId: reserva.id})"><span class="glyphicon glyphicon-info-sign"></span></a>
                                <a class="btn btn-default btn-sm" ui-sref="reservaUpdate({reservaId: reserva.id})"><span class="glyphicon glyphicon-edit"></span></a>
                                <a class="btn btn-danger btn-sm" ui-sref="reservaDelete({reservaId: reserva.id})"><span class="glyphicon glyphicon-trash"></span></a>
                            </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>


</div>