<div class="container-fluid">   
    <div class="col-sm-12">
        <br>
        <table ng-if="!messageCalificaciones" class="table table-striped">
            
            <tbody>
                <tr ng-repeat="calificacion in calificacionesRecords">
                    <td id="{{$index}}-id"><b>{{hospedajeActivo.id}}</b><span>: </span>{{calificacion.comentario}}</td>                                  
                </tr>
            </tbody>
        </table>
        <table ng-if="messageCalificaciones" class="table table-striped">
            
            <tbody>
                <tr>
                    <td><b>{{messageCalificaciones}}</b></td>                                  
                </tr>
            </tbody>
        </table>
    </div>

</div>