<div class="container-fluid" ng-show="rolActivo === 'Administrador'">
    <div class="panel-group">
        <div class="panel panel-primary">
            <div class="panel-body">
                <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                    <div class="btn-group mr-2" role="group" aria-label="First group">
                        <a class="btn btn-info" ui-sref="estudiantesCreate"><span class="glyphicon glyphicon-plus-sign"></span> Add new estudiante</a>
                    </div>
                </div>
                <form ng-submit="crearFiltro(origenId)" name="filtro">
                    <div class="form-group row">
                        <div class="form-group">
                            <select ng-model="origenId" required  style=" background-color: white">
                                <option ng-repeat="x in origenesRecords" value="{{x.id}}">{{x.name}}</option>
                            </select>
                        </div>
                        <input ng-show="filtro.$valid" type="submit" value="add" class="btn btn-success"/>
                    </div>
                </form>
                <div class="col-md-8">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Nombre</th>    
                                <th>Cedula</th> 
                                <th>Origen</th> 
                                <th>Actions</th>  
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="estudiante in estudiantesRecords">
                                <td id="{{$index}}-Nombre">{{estudiante.nombre}}</td>
                                <td id="{{$index}}-Cedula">{{estudiante.cedula}}</td>
                                <td id="{{$index}}-Origen">{{estudiante.origenDTO.name}}</td>

                                <td id="{{$index}}-actions">
                                    <a class="btn btn-default btn-sm" ui-sref="estudianteUpdate({idEstudiante: estudiante.id})"><span class="glyphicon glyphicon-edit"></span></a>
                                    <a class="btn btn-danger btn-sm" ui-sref="estudianteDelete({estudianteId: estudiante.id})"><span class="glyphicon glyphicon-trash"></span></a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div ng-show="rolActivo === 'Estudiante'">
    <div class="panel-heading">
        <h4><b>PERFIL</b></h4>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-3">
                <div class="thumb">
                    <img class="img-responsive" ng-src="{{currentEstudiante.rutaImagen}}"/>
                </div>

            </div>
            <div class="col-md-3">
                <dl>   
                    <hr>
                    <dt class="bold">Nombre:</dt>
                    <dd>{{currentEstudiante.nombre}}</dd>

                    <hr>
                    <dt class="bold">Cedula:</dt>
                    <dd>{{currentEstudiante.cedula}}</dd>

                </dl>
            </div>
        </div>
    </div>
    <div class="panel panel-info">
        <div class="panel-heading">
            <h4>Reservas asociadas a un estudiante</h4>
        </div>
        <div class="panel-body">
            <table class="table" >
                <tbody>
                    <tr>
                        <td class="well">Id: {{currentEstudiante.reserva.id}} </td>
                    </tr>
                    <tr>
                        <td class="well">Fecha inicio {{currentEstudiante.reserva.fechaInicio}}</td>
                    </tr>
                    <tr>
                        <td class="well">Fecha fin {{currentEstudiante.reserva.fechaFin}}</td>
                    </tr>
                <td class="well">Hospedaje {{currentEstudiante.reserva.fechaFin}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="panel panel-info">
        <div class="panel-heading">
            <h4>Hospedaje donde vives</h4>
        </div>
        <div class="panel-body">
            <table class="table" >
                <tbody>
                    <tr>
                        <td rowspan="4"><img src="{{currentEstudiante.reserva.hospedaje.rutaImagen}}" width="350" height="350" class="img-responsive"></td>
                    </tr>
                    <tr>
                        <td class="well">Id: {{currentEstudiante.reserva.hospedaje.id}}</td>
                    </tr>
                    <tr>
                        <td class="well">Valoracion: {{currentEstudiante.reserva.hospedaje.valoracion}}</td>
                    </tr>
                <td class="well">Tipo Arrendamiento: {{currentEstudiante.reserva.hospedaje.tipoArrendamiento}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>