<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert()">{{alert.msg}} </alert>
<div class="container-fluid">
    <div class="panel-group">
        <div class="panel panel-primary">
            <div class="panel-heading"><label>Lista consolidada de facturas</label></div>
            <div class="panel-body">
                <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                   <div class="btn-group mr-2" role="group" aria-label="First group">
                        <a class="btn btn-info" ui-sref="facturasCreate"><span class="glyphicon glyphicon-plus-sign"></span> Generar nueva factura</a>
                    </div>
                    <div>
                        <form>
                    <input type="date"  ng-model="fechaInicio.value">
                   
                    <input type="date"  ng-model="fechaFin.value"> 
                        
                        </form>
                         
                   </div>
                    
                    
                    
                </div>

                <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                    <div class="btn-group mr-2" role="group" aria-label="First group">
                       
                    </div>
                </div>
                <div class="col-lg-12">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Identificación única <button type="button" class="btn btn-default btn-sm" ng-click="orderByMe('id')">
                                     <span class="glyphicon glyphicon-sort-by-attributes"></span>
                                </button></th>    
                                <th>Fecha de creación <button type="button" class="btn btn-default btn-sm" ng-click="orderByMe('fecha')">
                                     <span class="glyphicon glyphicon-sort-by-attributes"></span>
                                </button></th> 
                                <th>Total <button type="button" class="btn btn-default btn-sm" ng-click="orderByMe('total')">
                                     <span class="glyphicon glyphicon-sort-by-attributes"></span>
                                </button></th> 
                                <th>IVA aplicado <button type="button" class="btn btn-default btn-sm" ng-click="orderByMe('iva')">
                                     <span class="glyphicon glyphicon-sort-by-attributes"></span>
                                </button></th> 
                                <th>Acciones </th>
                               
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-init ng-repeat="factura in facturasRecords | filter : criteriaMatch('date') | orderBy:myOrderBy">
                            <td id="{{$index}}-id">{{factura.id}}</td>
                            <td id="{{$index}}-fecha">{{factura.fecha}}</td>
                            <td id="{{$index}}-total">{{factura.total}}</td>
                            <td id="{{$index}}-iva">{{factura.iva}}</td>
                            <td id="{{$index}}-actions">
                                    <a class="btn btn-default btn-sm" ui-sref="facturasDetail({facturaId: factura.id})"><span class="glyphicon glyphicon-info-sign"></span></a>
                                    <a class="btn btn-default btn-sm" ui-sref="facturaUpdate({facturaId: factura.id})"><span class="glyphicon glyphicon-edit"></span></a>
                                    <a class="btn btn-danger btn-sm" ui-sref="facturaDelete({facturaId: factura.id})"><span class="glyphicon glyphicon-trash"></span></a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <p id="ole"> OLE PIROBO</p> 
             <p id="oa"> OLE PIROBO</p>
        </div>
    </div>
  

</div>