<div class="container-fluid">
    <div class="panel-group">
        <div class="panel panel-primary">
            <div class="panel-heading"><label ng-if="!edit" id="createAuthor">Create new Estudiante</label>
                <label ng-if="edit" id="editAuthor">Edit Estudiante</label></div>
            <div class="panel-body">
                <form ng-submit="createEstudiante()" name="estudiante">
                    <div class="form-group row">
                        <div class="form-group col-md-6">
                            <label for="estudianteNombre" class="col-sm-2">Nombre</label>
                            <input id="estudianteNombre" required ng-model="estudianteNombre" class="col-sm-6"/>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="form-group col-md-6">
                            <label for="estudianteCedula" class="col-sm-2">Cedula:</label>
                            <input id="estudianteCedula" required ng-model="estudianteCedula" class="col-sm-6"/>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="form-group col-md-6">
                            <label for="estudianteRutaImagen" class="col-sm-2">RutaImagen</label>
                            <input id="estudianteRutaImagen" required ng-model="estudianteRutaImagen" class="col-sm-6"/>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="form-group col-md-6">
                            <label for="estudianteNombreUsuario" class="col-sm-2">Nombre de usuario</label>
                            <input id="estudianteNombreUsuario" required ng-model="estudianteUsuario" class="col-sm-6"/>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="form-group col-md-6">
                            <label for="estudiantenombreOrigen" class="col-sm-2">nombreOrigen</label>
                            <input id="estudiantenombreOrigen" required ng-model="nombreOrigen" class="col-sm-6"/>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="form-group col-md-6">
                            <label for="nombreContrasenia" class="col-sm-2">Contrasenia</label>
                            <input id="nombreContrasenia" required ng-model="estudianteContrasenia1" class="col-sm-6" type="password"/>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="form-group col-md-6">
                            <label for="nombreContrasenia" class="col-sm-2">Confirmar conraeña</label>
                            <input id="nombreContrasenia" required ng-model="estudianteContrasenia2" class="col-sm-6" type="password"/>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="form-group col-sm-4" ng-if="!estudiante.$valid">

                            <div class="alert alert-warning" >
                                <strong>Warning!</strong><p>All inputs are required*</p>
                            </div> 
                        </div> 
                    </div> 
                    <div class="form-group row">
                        <div class="form-group col-sm-4" ng-show="validEstado === 1">

                            <div class="alert alert-warning" >
                                <strong>Warning!</strong><p>Las contraseñas no coinciden</p>
                            </div> 
                        </div> 
                    </div> 
                    <div class="form-group row">
                        <div class="form-group col-sm-4"ng-show="validEstado === 2">

                            <div class="alert alert-warning" >
                                <strong>Warning!</strong><p>El usuario ya existe</p>
                            </div> 
                        </div> 
                    </div> 
                    <div class="form-group row">
                        <div class="col-sm-5 col-md-5 col-lg-5 col-xs-5">
                            <input type="button" value="Cancelar" ui-sref="home" class="col-sm-5 col-md-5 col-lg-5 col-xs-5 btn btn-info btn-group-lg">
                            <p class="col-sm-1 col-md-1 col-lg-1 col-xs-1"></p>
                            <input type="submit" ng-click="estudianteNewCtrl.createEstudiante()" value="Crear"  class="col-sm-5 col-md-5 col-lg-5 col-xs-5 btn btn-success">
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>


