.imagen-mostrario {
    max-height: 200px; 
    min-height: 200px; 
    min-width: 230px; 
    max-width: 230px;
}

.imagen-detalle {
    max-height: 400px; 
    min-height: 400px; 
    min-width: 600px; 
    max-width: 600px;
}

.color-transparente {
    background: transparent;
    background-color: transparent;
    border-color: transparent;
}